body {
    background-color: black;
}

h1, h3, h5{
    color: #fed5e7;
}

nav{
    height:48px
}
nav ul{
    padding: 0;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

nav li{
    margin: 12px;
    display: inline-block;
    height: 100%;
    width: 20%;
}

nav li a{
    font-family:'Franklin Gothic Medium';
    color:antiquewhite;
    font-size: 16px;
    text-decoration: none;
}
nav li input{
    width: 150px;
}
nav li a:hover{
    color: #fed5e7;
}
h1{
    text-align: center;
    
}
.banner{
    width:100%;
    height:400px;
}
.logo{
    height: 200px;
    width: 200px;
    margin-left: 45%;
    border-radius: 50px;
}
.logodiv{
    background-color: #fed5e7;
}
p{
    color: #ae9dea;
    font-weight: bolder;
}
.review{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-radius: 20px;
    border-color: black;
    border-style:solid;
    position: relative;
}
.like{
    border-style: none !important;
    position: absolute;
    bottom: 35px;
    right: 5;
}

nav{
    background-color: grey;
}

.review{
    width: 400px;
    height: 400px;
}

.like{
    width: 50px;
    height: 50px;
}

.restaurant{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    width: 900px;
    height: 400px;
}

span{
    float: right;
}